__pycache__/
models/__pycache__/
query_strategies/__pycache__/
your_data_directory/*
your_log_directory/*
query_strategies/alpha_mix_sampling_DBSCAN.py
_temp/
requirements.txt
logs/
BirdsDataset/
./Dockerfile
./demo-docker.sh
